header{
    grid-area:hd;
    background-color:grey;
    padding-bottom:38px;
    padding-top:2px;
  
  }
  .footer{
    grid-area:ft;
    background-color:lightgray;
  }
 .footer img{
    height:20%;
    width:3%;
    margin-left:20px;
  }
  