 @import url("HeaderFooter2.css");
 @import url("Navbar2.css");
 @import url("Blogcards.css");

 .container{
    display:grid;
    width:100%;
    grid-template-columns:500px; 
    grid-template-rows:100px 250px 600px 600px;
     grid-template-areas: 
    "hd"
    "para1"
    "blogcard1"
    "blogcard2"
    "blogcard3"
    "ft";
    grid-gap:20px;
}

 .para{
     grid-area:para1;
     text-align: left;
     font-size:20px;
  }
 button{
     background-color:rgb(248, 245, 245);
     order:3;
     width:50%;
  }
 button :hover{
     background-color:lightgray;
     width:100px;
     text-align:center;

  }
 .box{
     border:5px solid black;
 }
h1{
    text-align:left;
    margin-bottom:10px;
}
h6{
    font-size:15px;
}
 @media(min-width: 600px) and (max-width:950px) {
 .container{
    display:grid;
    width:100%;
    grid-template-columns:100px 100px 100px; 
    grid-template-rows:100px 100px 500px 200px;
    grid-template-areas: 
     "hd hd hd hd hd hd"
     "para1 para1 para1 para1 para1 para1"
     "blogcard1 blogcard1 blogcard2 blogcard2 blogcard3 blogcard3"
    "ft ft ft ft ft ft";
    grid-gap:20px;
  }
 }
 @media (min-width:951px) {
    .container{
        display:grid;
        width:100%;
        grid-template-columns:200px; 
        grid-template-rows:100px 100px 400px 200px;
        grid-template-areas: 
         "hd hd hd hd hd hd"
         "para1 para1 para1 para1 para1 para1"
         "blogcard1 blogcard1 blogcard2 blogcard2 blogcard3 blogcard3"
        "ft ft ft ft ft ft";
        grid-gap:20px;
      }
 }